<div class="signup-page" *mobxAutorun="{ dontDetach: true }">
    <app-throbber-overlay [isVisible]="throbber.status">
        <div class="row">
            <div class="col-8 offset-2 col-md-6 offset-md-3">
                <form [formGroup]="signupForm" novalidate (ngSubmit)="submit()">
                    <app-input [control]="controls.email"
                               [errors]="errors.email"
                               message="Incorrect email"
                               type="email"> <!--name="email"-->
                        Email
                    </app-input>

                    <app-input [control]="controls.password"
                               [errors]="errors.password"
                               message="Incorrect password"
                               type="password"> <!--name="password" -->
                        Password
                    </app-input>

                    <app-input [control]="controls.fullName">
                        Full name
                    </app-input>

                    <app-button [disabled]="signupForm.invalid">Signup</app-button>
                </form>
            </div>
        </div>
    </app-throbber-overlay>
</div>
