.color-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .chromatic-colors {
    display: flex;
    width: 87%;
  }

  .achromatic-colors {
    display: flex;
    width: 12%;
  }
}
