<div class="color-picker">
    <div class="chromatic-colors">
        <app-color-tone-pick *ngFor="let color of chromaticTransition"
                             [color]="color"
                             [tonesSize]="colorTones"
                             [selected]="selected"
                             (select)="onSelect($event)">
        </app-color-tone-pick>
    </div>

    <div class="achromatic-colors">
        <app-color-tone-pick *ngFor="let color of achromaticTransition"
                             [color]="color"
                             [selected]="selected"
                             (select)="onSelect($event)">
        </app-color-tone-pick>
    </div>
</div>
