<ng-template #modalContent let-modal>
    <div id="description-modal-window"
         class="container description-modal-content">
        <div class="description-section">
            This application takes a screenshot of the provided URL address and displays it next to parsed URL data.
            Authorized user have access to his screenshot history. Also, he can customize the app view by changing a header
            and background color. In addition, authorized user can set his profile picture.
        </div>

        <div class="operations-section">
            <button class="btn btn-outline-primary mr-3"
                    (click)="closeModal()">
                Close
            </button>
            <label>
                <input type="checkbox"
                       [formControl]="dontShowAgain"> Don't show it again.
            </label>
        </div>

    </div>
</ng-template>
