.customer-avatar-container {

  .dropdown-menu {
    position: absolute;
    top: 80% !important;
    transform: initial!important;
    margin: 0.6rem 0 0;

    @media (min-width: 768px) {
      left: -220% !important;
    }
  }

  .dropdown-toggle::after {
    display:none;
  }

  %avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 4px 3px 7px -2px grey
  }

  .customer-avatar {
    @extend %avatar;
    border: 1px solid #969696;
  }

  .no-customer-avatar {
    @extend %avatar;
    border: 2px solid #969696;
  }

  &:after {
    content: '';
    width: 60px;
    height: 15px;
    display: block;
    position: absolute;
    bottom: -2px;
    right: 0;
  }

  &:hover .customer-avatar,
  &:hover .no-customer-avatar {
    box-shadow: 3px 2px 6px -1px grey inset;
  }
}
