<ul class="navbar-nav" *ngIf="user.isCustomer">

    <app-nav-item class="nav-item-centered"
                  *ngFor="let item of navItems"
                  [item]="item">
    </app-nav-item>

    <li class="d-inline-block customer-avatar-container nav-item-centered"
        ngbDropdown
        #avatarDropdown="ngbDropdown"
        (mouseover)="avatarDropdown.open()"
        (mouseout)="avatarDropdown.close()">

        <div ngbDropdownAnchor>
            <div class="no-customer-avatar" *ngIf="!user.minAvatar"></div>
            <img class="customer-avatar" *ngIf="user.minAvatar" [src]="user.minAvatar">
        </div>

        <div ngbDropdownMenu>
            <app-avatar-modal (click)="$event.stopPropagation()">
                <button ngbDropdownItem>Click to set avatar</button>
            </app-avatar-modal>
            <button ngbDropdownItem (click)="logout()">Logout</button>
        </div>
    </li>
</ul>
