<div class="color-pick-container">

    <app-color-pick class="color-pick-default"
                    [selected]="selectedColor.color"
                    [rgb]="color.rgbString"
                    (select)="onSelect(color)">
        <app-color-pick class="color-tone-pick"
                        *ngIf="selectedColor.tone && color.rgbString === selectedColor.color"
                        [rgb]="selectedColor.tone">
        </app-color-pick>
    </app-color-pick>

    <div class="color-tones"
         *ngIf="color.tonesVisible"
         appAlignTones>
        <div class="tones-part"
             *ngFor="let tonePart of color.tones">
            <app-color-pick *ngFor="let tone of tonePart"
                            [selected]="selectedColor.tone"
                            [rgb]="tone.rgbString"
                            (select)="onSelect(color, tone)">
            </app-color-pick>
        </div>
    </div>

</div>
