:host {
  width: 100%;
}
.color-pick-container {
  position: relative;

  .color-tones {
    z-index: 1;
    position: absolute;
    transform: translateY(-50%);
    width: 0;

    .tones-part {
      margin-bottom: 25px;
      width: 25px;
    }
  }

  /deep/ .color-tones app-color-pick {
    .color-pick {
      height: 15px;

      &:hover {
        width: calc(100% + 2px);
        left: -1px;
      }
      &.selected {
        width: calc(100% + 4px);
        left: -2px;
      }

    }
  }

  /deep/ app-color-pick.color-pick-default > .color-pick {
    &.selected, &:hover {
      box-shadow: 5px 7px 8px -3px grey;
      width: calc(100% + 6px);
      left: -3px;
      z-index: 1;
    }
  }

  /deep/ app-color-pick.color-tone-pick .color-pick {
    height: 15px;
    width: 15px;
    top: -1px;
    right: 0;
    border-radius: 50px;
    position: absolute;
  }
}
