.header {
  background-color: #c6e9ff;

  .navbar-expand-md {
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    .n-collapse {
      position: fixed;
      top: 0;
      left: -150px;
      width: 130px;
      height: 100%;
      box-shadow: 7px 7px 10px -3px grey;
      background: #81bbdd;
      z-index: 1000;

      &.show {
        left: 0;
      }

      /deep/ .navbar-nav {
        flex-direction: column-reverse;
        padding: 10px;


        .nav-item-centered {
          margin-top: 15px;

          .nav-link {
            padding: 0;
          }
        }
      }
    }
  }
}
