<div class="header"
     *mobxAutorun="{ dontDetach: true }"
     appBackgroundControl [color]="userSettings.headerBackgroundColor">

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand"
               href="">
                SiteShot
            </a>
            <button class="navbar-toggler"
                    appNavbarToggle="app-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="app-navbar"
                 class="n-collapse"
                 appBackgroundControl [color]="userSettings.headerBackgroundColor">
                <app-guest-navigation *ngIf="user.isGuest" [user]="user"></app-guest-navigation>
                <app-customer-navigation *ngIf="user.isCustomer" [user]="user"></app-customer-navigation>
            </div>
        </nav>
    </div>
</div>
