<li class="nav-item">
    <a class="nav-link"
       [routerLink]="item.route"
       [routerLinkActiveOptions]="{ exact: true }"
       routerLinkActive="active">
        {{ item.name }}
    </a>
</li>
