<div class="login-page" *mobxAutorun="{ dontDetach: true }">
    <app-throbber-overlay [throbber]="throbber">
        <div class="row">
            <div class="col-8 offset-2 col-md-6 offset-md-3">
                <form [formGroup]="loginForm" novalidate (ngSubmit)="submit()">

                    <app-input [control]="controls.email"
                               [errors]="errors.email"
                               message="Incorrect email"
                               type="email"> <!--name="email"-->
                        Email
                    </app-input>

                    <app-input [control]="controls.password"
                               [errors]="errors.password"
                               message="Incorrect password"
                               type="password"> <!--name="password"-->
                        Password
                    </app-input>

                    <app-button [disabled]="loginForm.invalid">Login</app-button>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2 col-md-6 offset-md-3">
                <app-button (onClick)="testLogin('testuser@gmail.com')">Login as test user</app-button>
                <!--<app-button (onClick)="testLogin('test2@gmail.com')">Login as test user 2</app-button>-->
            </div>
        </div>
    </app-throbber-overlay>
</div>
