<div class="customer-dashboard-page">

    <div class="row sites-row" *mobxAutorun="{ dontDetach: true }">
        <div class="col-md-8">
            <div class="recent-section">
                <h5 class="section-header">Recent sites:</h5>
                <ul class="list-group list-group-flush text-break">
                    <li class="list-group-item"
                        *ngFor="let site of recentUrls; let i = index"
                        (click)="switchCurrentSite(i)">
                        <span class="truncate">{{ site.url }}</span>
                        <span class="date">{{ site.created | date : 'MM/dd HH:mm' }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="search-section">
                <h5 class="section-header">Search in history:</h5>
                <form>
                    <app-search-input displayKey="url"
                                      [dropdownItems]="sitesHistory"
                                      (search)="search($event)"
                                      (itemClick)="select($event)">
                        <app-throbber *ngIf="throbber.status" size="sm"></app-throbber>
                        <img class="no-results-icon" *ngIf="noResults" [src]="noResIcon">
                    </app-search-input>
                </form>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="screenshot-section">
                <app-screen-maker></app-screen-maker>
            </div>
        </div>
    </div>
</div>
