@import "../../../shared/styles/extends.scss";
@import "../../../shared/styles/variables.scss";


.sites-row {
  min-height: 150px;
  margin-bottom: 15px;

  %section {
    @extend %bordered-padded-shadowed-section;
    background-color: $white;

    @media (min-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .search-section {
    @extend %section;

    .no-results-icon {
      position: absolute;
      top: 4px;
      right: 2px;
      width: 30px;
      height: 30px;
    }

    /deep/ app-search-input .form-control {
      padding-right: 37px;
    }

    /deep/ app-throbber #loader {
      right: 6px;
      left: unset;
    }
  }

  .recent-section {
    @extend %section;

    .list-group-item {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding-left: 0;
      padding-right: 0;

      @media (min-width: 768px) {
        padding-left: 5px;
        padding-right: 5px;
      }

      .date {
        min-width: 16%;
        text-align: right;
        font-size: 15px;
        color: #aeaeae;
      }

      &:hover {
        background-color: #f2faff;
      }
    }

    .truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .section-header {
    margin-top: 0.5rem;
  }
}

.screenshot-section {
  background-color: $white;
}
