@import "../../../shared/styles/extends.scss";


:host {
  margin-bottom: 15px;
  display: block;
}

.screen-maker {
  @extend %bordered-padded-shadowed-section;
  min-height: 500px;

  @media (min-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .url-row {
    margin-top: 15px;

    &__input {
      width: calc(100% - 64px);
      padding-right: 12px;
    }
  }

  .screenshot-row {
    margin: 0px -29px;

    .screenshot-col {
      margin-bottom: 10px;
    }

    @media (min-width: 768px) {
      .screenshot-col-left {
        padding-right: 0;
      }
    }

    .screen-img {
      max-width: 100%;
      vertical-align: text-top;
      cursor: pointer;
    }

    .list-group-item {
      display: flex;
      padding: 2px 10px 2px 0;

      span {
        margin: 0;
        min-width: 25%;
        padding: 0.55rem 1rem;
      }
    }
  }
}
