<app-throbber-overlay [throbber]="throbber" *mobxAutorun="{ dontDetach: true }">
    <div class="screen-maker">
        <div class="container">
            <form class="row url-row" [formGroup]="siteForm" novalidate (ngSubmit)="submit()">
                <app-input class="url-row__input"
                           [control]="controls.url"
                           [errors]="errors.url"
                           [message]="urlInput.errorMessage"
                           [placeholder]="urlInput.defaultValue"
                           [label]="false">
                </app-input>
                <app-button [disabled]="siteForm.invalid">Send</app-button>
            </form>

            <div class="row screenshot-row"
                 *ngIf="currentSite">
                <div class="screenshot-col screenshot-col-left col-md-5">
                    <img class="screen-img"
                         alt=""
                         *ngIf="currentSite.screenShot"
                         [src]="currentSite.screenShot"
                         (click)="openScreenShot(content)">
                    <ng-template #content let-screenShotModal>
                        <div>
                            <img alt=""
                                 style="max-width: 100%"
                                 *ngIf="currentSite.screenShot"
                                 [src]="currentSite.screenShot">
                        </div>
                    </ng-template>
                </div>

                <div class="screenshot-col col-md-7">
                    <ul class="list-group list-group-flush text-break">
                        <li class="list-group-item">
                            <span class="alert alert-success">Protocol:</span>
                            <span>{{ currentSite.protocol }}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="alert alert-success">Host:</span>
                            <span>{{ currentSite.host }}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="alert alert-success">Host name:</span>
                            <span>{{ currentSite.hostName }}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="alert alert-success">Origin:</span>
                            <span>{{ currentSite.origin }}</span>
                        </li>
                        <li class="list-group-item" *ngIf="currentSite.path">
                            <span class="alert alert-success">Path:</span>
                            <span>{{ currentSite.path }}</span>
                        </li>
                        <li class="list-group-item" *ngIf="currentSite.pathName">
                            <span class="alert alert-success">Path name:</span>
                            <span>{{ currentSite.pathName }}</span>
                        </li>
                        <li class="list-group-item" *ngIf="currentSite.query.string">
                            <span class="alert alert-success">Query string:</span>
                            <span>{{ currentSite.query.string }}</span>
                        </li>
                        <li class="list-group-item" *ngIf="currentSite.query.dict">
                            <span class="alert alert-success">Query dictionary:</span>
                            <span>{{ currentSite.query.dict | json }}</span>
                        </li>
                        <li class="list-group-item" *ngIf="currentSite.created">
                            <span class="alert alert-success">Created:</span>
                            <span>{{ currentSite.created | date : 'MM/dd/yyyy, HH:mm:ss' }}</span>
                        </li>
                    </ul>
                    <!--<div *ngIf="currentSite.parsedUrl" style="word-break: break-word;">
                        <div *ngFor="let item of currentSite.parsedUrl | keyvalue">
                            {{ item.key }} : {{ item.value }}
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</app-throbber-overlay>
