<div class="wrapper">
    <div class="overlay"
         *ngIf="throbberStatus"
         appBackgroundControl [color]="backgroundColor">
        <div class="spinner-wrapper">
            <app-throbber></app-throbber>
        </div>
    </div>

    <ng-content></ng-content>
</div>
