<div class="form-group">
    <label *ngIf="label"><ng-content></ng-content></label>
    <div class="position-relative">
        <input [ngClass]="[className, readonly ? 'readonly' : '']"
               [type]="type"
               [formControl]="inputControl"
               [attr.name]="name"
               [attr.placeholder]="placeholder">
        <app-input-error *ngIf="control"
                         [control]="control"
                         [value]="control.value"
                         [errors]="errors">
            {{ message }}
        </app-input-error>
    </div>
</div>
