.form-control {
  padding: 0.75rem 2.1rem 0.75rem 0.75rem;
}

.readonly {
  background-color: #e9ecef;
  color: transparent;
  text-shadow: 0 0 0 #495057;

  &:focus {
    border-color: #ced4da;
    box-shadow: none;
    outline: none;
  }
}
