.search-input {
  position: relative;

  &-dropdown {
    position: absolute;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: white;
    padding: 9px 0;
    width: 100%;
    cursor: pointer;
    z-index: 1000;
  }

  .dropdown-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
