<div class="search-input form-group">

    <input class="form-control"
           type="text"
           [formControl]="searchControl"
           (focus)="showDropdown()">

    <ng-content></ng-content>

    <div class="search-input-dropdown"
         *ngIf="dropdownItems.length"
         [hidden]="isDropdownHidden">

        <div class="dropdown-item"
             *ngFor="let item of dropdownItems"
             (click)="itemSelect(item.value)">
            {{ item.text }}
        </div>

    </div>
</div>
