<div class="app-input-error">
    <ng-template #formErrorPopContent>
        <div class="form-error-popover">
            <ng-content class="form-error-popover"></ng-content>
        </div>
    </ng-template>
    <span class="error-label"
          *ngIf="value | invalidIf: control.invalid && (control.dirty || control.touched) | async"
          [@fadeInOut]
          [ngbPopover]="formErrorPopContent"
          triggers="mouseenter:mouseleave"
          placement="right auto">
        !
    </span>

    <ng-template #storeErrorPopContent>
        <div class="store-error-popover">
            <div *ngFor="let message of errors.messages">{{ message }}</div>
        </div>
    </ng-template>
    <span class="error-label error-label-store"
          *ngIf="errors && errors.messages && errors.messages.length"
          [@fadeInOut]
          [ngbPopover]="storeErrorPopContent"
          triggers="mouseenter:mouseleave"
          placement="right auto">
        !
    </span>
</div>
