.app-input-error {
  .error-label {
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    color: #ffaa00;
    border: 2px solid #ffaa00;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;
    font-weight: 600;

    &-store {
      border: 2px solid red;
      color: red;
    }
  }
}
