<div class="app-container"
     appBackgroundControl [color]="userSettings.backgroundColor">

    <app-header></app-header>

    <div class="container app-content">
        <!--<app-throbber-overlay [isVisible]="throbber.status"><router-outlet></router-outlet></app-throbber-overlay>-->
        <router-outlet *ngIf="!throbber.status"></router-outlet>
        <app-throbber *ngIf="throbber.status"></app-throbber>
    </div>

    <app-notifier></app-notifier>
    <app-description-modal></app-description-modal>
</div>
