@import "./variables";


%shadowed-section {
  box-shadow: $outer-section-shadow;

  &:hover {
    box-shadow: $outer-section-shadow-hovered;
  }
}

%bordered-padded-shadowed-section {
  @extend %shadowed-section;
  padding: 5px 10px;
  border: 1px solid #ededed;
}
