<div class="container"
     [ngClass]="size === 'sm' ? 'throbber-sm' : ''">
    <div class="row">
        <div id="loader">
            <div class="dot" *ngFor="let dot of dots"></div>
            <div class="loading"></div>
        </div>
    </div>
</div>
