<div class="profile-page">
    <div class="row">

        <div class="col-md-4 profile-avatar-section">
            <app-avatar-modal class="">
                <div class="no-profile-avatar"
                     *ngIf="!user.fullAvatar">
                </div>
                <img class="profile-avatar"
                     alt=""
                     *ngIf="user.fullAvatar"
                     [src]="user.fullAvatar">
            </app-avatar-modal>
         </div>

        <div class="col-md-8">
            <app-throbber-overlay [throbber]="throbber"
                                  inheritColorFrom="app-container">
                <form [formGroup]="userForm" novalidate (ngSubmit)="submit()">

                    <app-input [value]="user.email"
                               [readonly]="true">
                        Email
                    </app-input>

                    <app-input [control]="controls.fullName">
                        Full name
                    </app-input>

                    <div class="form-group">
                        <label>Header color</label>
                        <app-color-picker class="form-control"
                                          [selected]="controls.headerBackgroundColor.value"
                                          (select)="controls.headerBackgroundColor.setValue($event)">
                        </app-color-picker>
                    </div>

                    <div class="form-group">
                        <label>Background color</label>
                        <app-color-picker class="form-control"
                                          [selected]="controls.backgroundColor.value"
                                          [colorSteps]="1"
                                          [colorTones]="7"
                                          [achromaticColorSteps]="3"
                                          (select)="controls.backgroundColor.setValue($event)">
                        </app-color-picker>
                    </div>

                    <app-button>Update</app-button>

                </form>
            </app-throbber-overlay>
        </div>

    </div>
</div>

