@import "../../../shared/styles/extends.scss";


.profile-page {

  .profile-avatar-section {
    margin-bottom: 20px;

    .profile-avatar, .no-profile-avatar {
      width: 100%;
      cursor: pointer;
      background-color: white;
    }

    .profile-avatar {
      @extend %shadowed-section;
      min-height: 75px;
      min-width: 100%;
    }

    .no-profile-avatar {
      @extend %bordered-padded-shadowed-section;
      height: 500px;
    }
  }
}
