@import "../../../../styles/extends.scss";
@import "../../../../styles/variables.scss";


.app-notifier {
  position: fixed;
  width: 0;
  top: 100px;
  right: 50px;
  z-index: 1003;

  .notification {
    @extend %shadowed-section;
    position: relative;
    width: 375px;
    right: 400px;
    min-height: 50px;
    margin-bottom: 15px;
    border-radius: 3px;
    animation-name: example;
    animation-duration: 1s;

    @media (max-width: 767px) {
      width: 275px;
      right: 240px;
    }

    &-message {
      white-space: pre-wrap;
      padding: 20px;
      font-size: 18px;
      color: $white;
    }

    &-close {
      position: absolute;
      top: -12px;
      right: -13px;

      span {
        border-radius: 50px;
        background: #a39a9a;
        color: $white;
        font-size: 22px;
        display: block;
        height: 33px;
        width: 33px;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  .red {
    background-color: rgba(255, 0, 0, 0.76);
    border: 1px solid red;
    &:hover {
      background-color: rgba(255, 47, 44, 0.95);
    }
  }

  .green {
    background-color: rgba(81, 183, 76, 0.92);
    //border: 1px solid green;
    &:hover {
      background-color: rgba(81, 183, 76, 0.97);
    }
  }

  .yellow{
    background-color: rgba(255, 185, 10, 0.76);
    border: 1px solid #ffae08;
    &:hover {
      background-color: rgba(255, 161, 4, 0.95);
    }
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }

  .deactivated {
    visibility: hidden;
  }
}

@keyframes example {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}
