<div class="app-notifier" *mobxAutorun="{ dontDetach: true }">
    <div class="notification {{ notification.color }}"
         *ngFor="let notification of notifications"
         [ngClass]="{'hidden': !notification.isVisible, 'deactivated': !notification.isActive}"
         (mouseover)="notification.resetTimer()"
         (mouseleave)="notification.setTimer()">

        <div class="notification-message">{{ notification.message }}</div>

        <div class="notification-close"
             (click)="notification.deactivate()">
            <span>X</span>
        </div>

    </div>
</div>

