<div *mobxAutorun="{ dontDetach: true }">
    <app-guest-dashboard *ngIf="authStore.user.isGuest"></app-guest-dashboard>
    <app-customer-dashboard *ngIf="authStore.user.isCustomer"></app-customer-dashboard>
</div>
