/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "assets/styles/throbber.scss";

.init-throbber-container {
  #init-error {
    margin: auto;
    position: absolute;
    display: none;
    height: 200px;
    width: 205px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
