$colors: (1, #FFFF00),
         (2, #28FF00),
         (3, #00FFFF),
         (4, #0000FF),
         (5, #C600FF),
         (6, #FF009D),
         (7, #FF0000),
         (8, #FF9900);

#loader {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 175px;
  width: 175px;
  margin: auto;
  position: absolute;

  .dot {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 87.5px;
    margin: auto;
    position: absolute;

    &::before {
      top: 0;
      right: 0;
      left: 0;
      height: 87.5px;
      width: 87.5px;
      position: absolute;
      transform: scale(0);
      content: "";
      border-radius: 100%;
    }

    @each $color in $colors {
      &:nth-child(7n+#{nth($color,1)}) {
        transform: rotate(#{nth($color,1) * 45}deg);
        &::before {
          animation: 0.7s linear #{(nth($color,1) - 1) * 0.1}s normal none infinite running load;
          background: nth($color,2) none repeat scroll 0 0;
        }
      }
    }
  }

  .loading {
    right: 0;
    bottom: -40px;
    left: 0;
    height: 20px;
    width: 180px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
  }
}

.throbber-sm #loader {
  height: 30px;
  width: 30px;
  .dot {
    width: 25px;

    &::before {
      height: 10px;
      width: 10px;
    }
  }
  .loading {
    width: 40px;
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.spinner-message {
  text-align: center;
}
