.avatar-modal {
  .modal-body {
    text-align: center;

    .avatar-input {
      width: 210px;
    }

    .min-avatar {
      border-radius: 50%;
    }
  }

  .modal-footer {
    /deep/ app-button .form-group {
      position: relative;
      margin: 0;
    }

    /deep/ app-throbber #loader {
      margin-right: 75px;
    }
  }
}
