<span (click)="open(content)">
    <ng-content></ng-content>

    <ng-template #content let-avatarModal>

        <div class="avatar-modal">

            <div class="modal-header">
                <h4 class="modal-title">Avatar update</h4>
            </div>

            <div class="modal-body container">

                <input class="avatar-input"
                       type="file"
                       accept="image/png, image/jpeg"
                       (change)="fileChangeEvent($event)" />

                <image-cropper [imageChangedEvent]="imageChangedEvent"
                               [roundCropper]="true"
                               [resizeToWidth]="128"
                               (imageCropped)="imageCropped($event)"
                               (loadImageFailed)="loadImageFailed()">
                </image-cropper>

                <img class="min-avatar" alt=""
                     *ngIf="croppedImageEvent.base64"
                     [src]="croppedImageEvent.base64" />

            </div>

            <div class="modal-footer">
                <app-button (onClick)="save(avatarModal)">
                    Save <app-throbber size="sm" *ngIf="throbber.status"></app-throbber>
                </app-button>
            </div>
        </div>

    </ng-template>
</span>
